
<%- include('partials/header.ejs') %>

<body>
    <%- include('partials/nav.ejs') %>

    <div class="container">
        <a href="/perguntas" class="btn btn-success mt-2 mb-2">Nova pergunta</a>
        <hr>
        <div class="row">

            <% perguntas.forEach(pergunta => { %>
            <div class="col-lg-3 col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title"><%= pergunta.titulo %></h5>
                        <p class="card-text"><%= pergunta.descricao %></p>
                        <a href="/pergunta/<%= pergunta.id %>" class="btn btn-success">Responder</a>
                    </div>
                </div>
            </div>
            <% }) %>
            
        </div>  
    </div>

</body>

<%- include('partials/footer.ejs') %>
