
<%- include('partials/header.ejs') %>
<body>    
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <hr>
        <h1><center> <%= pergunta.titulo %>  </center></h1>
        <p>  <%= pergunta.descricao %> </p>
        <form method="POST" action="/resposta">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Resposta:</label>
                <textarea class="form-control" id="corpo" name="corpo"></textarea>
                <input type="hidden" id="pergunta_id" name="pergunta_id" value="<%= pergunta.id %>">
            </div>         
            <button type="submit" class="btn btn-success">Responder</button>
        </form>
        <hr>
        <h1> Respostas </h1>
        <% respostas.forEach(resposta =>{ %>
            <div class="card">
                <div class="card-body">
                    <p><%= resposta.corpo %></p>
                </div>
            </div>
        <% }); %>
    </div>
</body>
<%- include('partials/footer.ejs') %>
